table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #d1d1d1;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #d1d1d1;
}
.rebels {
  position: absolute;
  left: 25%;
  top: 7%;
  overflow: hidden;
}
.rebels.ng-enter {
  transition: all linear 1s;
  top: 0%;
  opacity: 0;
}
.rebels.ng-enter-active {
  top: 7%;
  opacity: 1;
}
.rebels.ng-leave {
  opacity: 1;
  transition: all linear 0.5s;
  top: 7%;
}
.rebels.ng-leave-active {
  position: absolute;
  opacity: 0;
  top: 15%;
}
.animate {
  opacity: 1;
}
.animate.ng-enter {
  transition: all linear 3s;
  opacity: 0;
}
.animate.ng-enter-active {
  opacity: 1;
}
body {
  background-color: #BFC0C0;
}
.box {
  background-color: #BFC0C0;
  height: auto;
  color: #7293A0;
}
h1 {
  font-size: 6em;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block;
  border-radius: 10px;
  opacity: 0.9;
}
h2 {
  line-height: 3em;
  font-size: 2em;
  display: inline-block;
}
.eggs {
  Height: 50px;
  background-color: #F6A22E;
  width: 100%;
  border: 2px solid #B22727;
  opacity: 0.9;
  color: #FFEDDF;
  margin-bottom: 10px;
  line-height: 1em;
}
.main {
  height: 1000px;
  background-color: #BFC0C0;
}
.ticker {
  min-height: 120px;
  height: auto;
  background-color: darkgray;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 5px;
}
.ticker ul li {
  display: inline-block;
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  border: 2px solid #B23737;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  font-size: 20px;
  margin-top: 5px;
}
.halfbox {
  background-color: darkgray;
  height: 500px;
  opacity: 0.9;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
  margin: 1px;
}
.halfbox2 {
  height: 500px;
  opacity: 0.9;
  border: 1px solid black;
  background-color: #BFC0C0;
  border-top: none!important;
  overflow: hidden;
  margin: 1px;
}
.col-md-8 {
  padding-right: 0px!important;
}
.col-md-4 {
  padding-left: 0px!important;
}
h4 {
  display: inline-block;
  border: 2px solid #B23737;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}
h3 {
  line-height: 1.8em!important;
  padding: 0px;
  margin: 0px;
}
input {
  background-color: #A6A6A6;
  border-width: 4px!important;
  border-color: #A9A9A9;
  height: 40px;
  text-align: center;
  font-size: 20px;
  color: #B23737;
  white-space: nowrap;
  opacity: 0.9;
  overflow: hidden;
}
.watch {
  text-align: center;
  overflow: hidden;
}
.incident {
  width: 100%;
  Height: 300px;
  background-color: #a6a6a6;
  border: 1px solid black;
  margin: 1px;
  margin-top: 2px;
}
.incidenttxt {
  height: auto;
  background-color: #F0A53D;
  color: #F8E8DC;
  border: 2px solid #B23737;
  text-align: center;
}
.messenger {
  height: 150px;
  background-color: #a6a6a6;
  overflow: hidden;
  display: inline-block;
}
.messengertab {
  line-height: 2.5em;
  text-align: center;
  height: 150px;
  overflow: hidden;
  background-color: #EAA84A;
  font-size: 60px;
  display: inline-block;
  width: 1%;
}
@media screen and (max-width: 1200px) {
  .messengertab i {
    font-size: 65%!important;
  }
}
.messengertab i {
  color: #F1E4D9;
  cursor: pointer;
  font-size: 80%;
  position: relative;
}
p {
  font-size: 1.5em;
}
.animate-show-hide.ng-hide {
  width: 0;
}
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 1s;
}
.message {
  color: #F1E4D9;
  opacity: 1;
}
.message.ng-enter {
  transition: all linear 1s 0.5s;
  opacity: 0;
}
.message.ng-enter-active {
  opacity: 1;
}
.message.ng-leave {
  opacity: 1;
  transition: all linear 0.5s;
}
.message.ng-leave-active {
  opacity: 0;
}
.comp {
  margin: 0;
  position: relative;
  top: -0.5em;
}
