html {
    
    overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
     background-color: #1c1c1c;
    width: 100%;
}
@font-face {
        font-family: got;
        src: url(./got.ttf);
}

.logo {
    
    
    background-image: url("./thrones.jpg"); 
    background-repeat: no-repeat; 
    background-position: center;
    text-align: center;
    height: 347px;
    width: 100%;
    color: #DEDEDE;
    margin: auto;
}

.header{
    
    
 
    background-color: #1C1C1C;
  

}

h1 {
    letter-spacing: 4px;
    font-family: got;    
    padding: 50px;
    margin: 0px;
}

.nameForm{
    
    text-align:center;
    padding: 15px 0px 15px 0px;
    border: solid 1px #1c1c1c;
    background-color:#DEDEDE;
    width: 100%;
}

input {
    font-family: got;  
    padding: 15px 5px 15px 5px;
    font-size: 20px;
    margin: 5px;
    color:#323232;
    text-align: center;


 
  
    
}



.house{
    
   
    text-align:center;
    color: #dedede;
    height: 100%;
}

.resultsTable{
    
   text-align:center;
    width:100%;
    

}
table {
    width: 90%;
    text-align:left;
    font-size: 20px;
    padding: 10px;
    margin:auto;

}

tr:nth-child(odd){
    
    background-color: #DEDEDE;
    color: #1c1c1c;
    
}
tr:nth-child(even){
    background-color: #aEaEaE;
     color: #1c1c1c;
    
}
td{
    padding: 5px;
    border-radius: 3px;
 
}
tr{
    
    width: 100%;
}


@media only screen and (max-width: 500px) {
    h1{
        font-size: 1em;
        
    }
    input {
        
        font-size: 1em;
    }
}

