<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
<link rel="stylesheet" href="./css/crime.css">
</head>   
<body>
        
<div  ng-app="myApp" ng-controller="myCtrl">
    
   <div class="row"> <!-- Open Row 1 Contents : Header -->
       
       <div class="col-xs-12 header">
            <i class="fa fa-balance-scale fa-5x" aria-hidden="true"></i> <!-- balancing scales logo -->
            <h1>Crime Statistics</h1>
       </div>
       
   </div> <!-- Close Row 1-->
        
<div class="row"> <!-- Open Row 2 Contents : Month / Year selection boxes and location selectors -->
    
  <div class="col-xs-12"> <!-- container for picker tools 1 -->
      
      <div class="col-xs-12 toolwrap"> <!-- container for picker tools 2 -->
   
            <div class="col-md-4 col-xs-12 tools"> <!-- Month and year selector open -->
        
                 <select ng-options="x for x in month" ng-init="selectedMonth = month[0]" ng-model="selectedMonth">
                 </select>
                   
                 <select ng-options="x for x in years" ng-init="selectedYear = years[0]" ng-model="selectedYear">
                 </select>
     
            </div> <!-- Month and year close -->
    
            <div class="col-md-4 col-xs-12 tools"> <!-- Custom Location Box -->
                
                 <ng-form name="thisloc">
                 <input type="text" name="Location" ng-pattern="re" placeholder="Town Or Post Code">
                 <span ng-show="thisloc.Location.$error.pattern" style="color:red">Please only enter numbers and / or letters.</span>
                 <input ng-hide="thisloc.Location.$error.pattern" type="submit" ng-click="mainfunc(thisloc.$$element[0].children.Location.value, getit)" value="Custom Location">
                 </ng-form>
 
             </div> <!-- Close Custom Location Box -->
    
             <div class="col-md-4 col-xs-12 tools"> <!-- Location List Picker -->
                 
                <ng-form name="selection">
                <select name="thiscity" ng-options="x for x in city" ng-init="requestLocation = city[0]" ng-model="requestLocation">
                </select>
                    
                <input type="submit" ng-click="mainfunc(selection.thiscity.$viewValue, getit)" value="Search By Uk City">
                </ng-form>
                 
             </div> <!-- Close Location List Picker -->
        </div> <!-- Close Picker Tools Container 2 -->
    </div> <!-- Close Picker Tools Container 1 -->
</div> <!-- Close Row 2 -->
       
<div class="row"> <!-- Open Row 3 -- Contents: Map -->
    
    <div class="col-xs-12" style="padding:0px!important"> <!-- Map Container -->
        
        <div id="map">
        </div>
        
            <div class="row"> <!-- Open Row 4 , Nestled Filter Tools -->

                <div class="col-xs-12 filters">
                    
                     <div class="filterwrap"> <!-- Open Filter Buttons -->

                         Category filter:
                         <input type="radio" ng-model="select" value="">Show all
                         <input type="radio" ng-model="select" value="anti">Anti Social
                         <input type="radio" ng-model="select" value="theft">Theft
                         <input type="radio" ng-model="select" value="burglary">Burglary
                         <input type="radio" ng-model="select" value="arson">Arson
                         <input type="radio" ng-model="select" value="Drugs">Drugs
                         <input type="radio" ng-model="select" value="order">Public Order
                         <input type="radio" ng-model="select" value="shop">Shoplifting
                         <input type="radio" ng-model="select" value="vehicle">Vehicle Crime
                         <input type="radio" ng-model="select" value="violent">Violent Crime
                         <input type="radio" ng-model="select" value="other">Other Crime
                         
                    </div>  <!-- close filter buttons -->
    
                </div> 
             </div> <!-- Close Row 4 , Nestled Filters Tools -->
    </div> <!-- Close Map Container -->
</div> <!-- Close Row 3 -->
    
<div class="row"> <!-- Open Row 5 Contents : Results -->
    
    <div class="col-xs-12 filters">
        
         <h4>Select a month, year and location. Results will be displayed in scroll boxes below. Crime table results can also be filtered using the buttons above.</h4>
         </div>
       
            <div  class="col-xs-12 col-md-6 noinfo" ng-show="crimefail"><h1>Bad Response From Server</h1><h2>The API may be down...</h2><br>...Or there may be no data for the chosen month / year<br>... Did you choose a month and a year? </div>
        
            <div ng-show="!crimes.length && !crimefail && !firstloadcrime" class="col-xs-12 col-md-6 noinfo"><h1>No Data - Try Different Dates</h1> <p>Some areas may have little or no data...</p></div>
    
            <div ng-show="crimes.length" class="col-xs-12 col-md-6">
            <crimetable></crimetable> <!-- Crime Table Results -->
            </div>
        
            <div ng-show="!searches.length && !searchfail && !firstloadsearch" class="col-xs-12 col-md-6 noinfo"><h1>No Data - Try Different Dates</h1><p>Some areas may have little or no data...</p></div>
    
            <div  class="col-xs-12 col-md-6 noinfo" ng-show="searchfail"><h1>Bad Response From Server</h1><h2>The API may be down...</h2><br>...Or there may be no data for the chosen month / year<br>... Did you choose a month and a year? </div>
        
    
            <div ng-show="searches.length" class="col-xs-12 col-md-6">
            <stopsearch></stopsearch> <!-- stop and search table results -->
            </div>
   
</div> <!-- Close Row 5  End Of Conventional Markup-->

<script>
var app = angular.module('myApp', ['ngAnimate']).config(function($sceDelegateProvider) {
 $sceDelegateProvider.resourceUrlWhitelist([
   // Allow same origin resource loads.
   'self',
   // Allow loading from our assets domain. 
   'https://data.police.uk/**','https://maps.googleapis.com/maps/api/**']);
 })   
   app.directive("crimetable", function() {
       
                return{
                    
                  template: '           <div class="resultsheader">\
                                        <h3>Crime Table</h3>\
                                        </div>\
                                        <div class="results scroller">\
                                                <table>\
                                                  <tr>\
                                                    <th>Type Of Crime</th>\
                                                    <th>Crime ID</th>\
                                                    <th>Location</th>\
                                                    <th>Outcome</th>\
                                                  </tr>\
                                                  <tr ng-repeat="crime in crimes| filter : {category: select}">\
                                                    <td>{{crime.category}}</td>\
                                                    <td >{{crime.id}}</td>\
                                                    <td >{{crime.location.street.name}}</td>\
                                                    <td>{{crime.outcome_status.category?crime.outcome_status.category:"No Outcome Given" }}</td>\
                                                  </tr>\
                                                </table>\
                                        </div>' 
               
                }
        
         });
    
    app.directive("stopsearch", function() {
        
                return{
                    
                  template: '           <div class="resultsheader">\
                                        <h3>Stop And Search</h3>\
                                        </div>\
                                        <div class="results scroller col-xs-12">\
                                                <table>\
                                                  <tr>\
                                                    <th>Ethnicity</th>\
                                                    <th>Age</th>\
                                                    <th>Location</th>\
                                                    <th>Outcome</th>\
                                                  </tr>\
                                                  <tr ng-repeat="search in searches">\
                                                    <td >{{search.self_defined_ethnicity}}</td>\
                                                    <td>{{search.age_range}}</td>\
                                                    <td>{{search.location.street.name}}</td>\
                                                    <td>{{search.outcome}}</td>\
                                                  </tr>\
                                                </table>\
                                        </div>' 
               
                }     
          
         });

app.controller('myCtrl', function($scope, $sce, $http, $interval) { 
      
   // self evoking function to populate the date picker  
   (function (){ //create date picker - data only goes back to 2010 
        var date = new Date().getFullYear(); // get current year 
        $scope.years= [];
       
            for (i=0; i <= 20; i++){ // create a loop to populate the years array - set iterations to 20 just for future proofing. 
                $scope.years.push(date); // add dates to array
                date --; // nock a year off each time we go round. 
    
                if (date <= 2009){   // if the date gets to 2010 stick the pick a year string at the front of the dates array
                    $scope.years.unshift("Please Pick a Year"); // add this to the start so it is the default on load 
                    return; // close function when we hit 2010 
                    }
    }
}) ();
    
  // Global variable decleration // - I have declared these as $scope as they are needed in the view. 
    
    $scope.firstloadcrime=true; // set this on firstload so that the no data msg does not display
    
    $scope.firstloadsearch=true; // set this on firstload so that the no data msg does not display
   
    $scope.selectedMonth=""; //declare month and year variables 
    $scope.selectedYear="";
    
    $scope.re = /^[a-zA-Z0-9 ]{1,25}$/; // create a regex for validation of input box - prevents special characters
    
    $scope.month =[ "Please Pick a Month","-01","-02","-03","-04","-05","-06","-07","-08","-09","-10","-11","-12"]; // create month array

    $scope.city= ["Aberdeen","Armagh","Bangor","Bath","Bristol","Belfast","Bradford","Brighton","Cambridge","Canterbury","Cardiff","Carlisle","Chester","Birmingham", "London","Manchester","Liverpool","Coventry","Derby","Durham","Edinburgh","Exeter","Glasgow","Gloucster","Hereford","Leeds","York","Newcastle Upon Tyne", "Nottingham","Oxford","Norwich","Wolverhampton","Truro","Plymouth","Portsmouth","Leicester","Swansea","Derry","Lancaster"];
    $scope.city = $scope.city.sort(); // create cities array and Alphabetically sort cities 
    
    // main function body //
    
    //main function - takes in location input from the view and httpcallback name
    
   $scope.mainfunc = function (requestLocation, httpCallback){ 
       
          var crimeurl ='https://data.police.uk/api/crimes-street/all-crime?lat=';
          var searchurl='https://data.police.uk/api/stops-street?lat=';                     // declare url variables for our http calls
          var customurl="https://maps.googleapis.com/maps/api/geocode/json?address="; 
       
                httpCallback("get",customurl + requestLocation + " uk", requestLocation) //http call for geolocation
                    
                        .then(function(response){ //deal with the response in a promise
             
                            console.log(requestLocation); //log out the requested location passed from the view
                            console.log(response.data); // log out the response from the server 
                    
                            var coords = [response.data.results[0].geometry.location.lat,response.data.results[0].geometry.location.lng]; // make coords array
               
                            callCops(coords, httpCallback); // call police api with coords and the httpCallback 
                            makeTheMap(coords, httpCallback);  // call google maps api with coords and httpCallback 
                    
                        }); //close promise 
       
                var callCops = function(coords, httpCallback) { // contact police API's 
            
                    httpCallback("get",crimeurl + coords[0] +'&lng=' + coords[1] + '&date=' + $scope.selectedYear + $scope.selectedMonth)
                    
                        .then(function(response){ // successful promise response provides data for the crime table 
              
                            $scope.crimefail = false; //  for the purpose of ng-show / ng-hide - shows results if api call is successful 
                            $scope.crimes = response.data; // cache response for crime table
                            console.log($scope.crimes);  // log out the crime table api response 
                            $scope.firstloadcrime=false; // prevents "no data" from displaying when page loads for first time 
             
                        }) // close success promise for crime table
            
                        .catch(function onError(response) {
   
                            $scope.crimefail = true; // for the purpose of ng-show / ng-hide - obvs shows error if API call fails 
                            $scope.crimes=[];  // clear any cached data in crimes array to make sure crime table is not displayed on error          
                        }); // close error promise for crime table
            
                    httpCallback("get",searchurl + coords[0] +'&lng=' + coords[1] + '&date=' + $scope.selectedYear + $scope.selectedMonth)
                    
                        .then(function(response){
                
                            $scope.searchfail = false; //  for the purpose of ng-show / ng-hide - obvs shows results if api call is successful
                            $scope.searches = response.data; // cache response for stop search
                            $scope.firstloadsearch=false;    // prevents "no data" from displaying when page loads for first time 
                            console.log($scope.searches);   // log out the crime table api response 
                        
                        }) // close success promise for search table
                 
                        .catch(function onError(response) {
         
                            $scope.searchfail = true; // for the purpose of ng-show / ng-hide - shows error if API call fails 
                            $scope.searches=[];  // clear any cached data in crimes array to make sure crime table is not displayed on error  
   
                        }); // close error promise for search table 
    
                } // close callcops function 
        
                var makeTheMap = function(coords, httpCallback) { // google maps API call - takes coords and our http callback
            
                        httpCallback("jsonp",'https://maps.googleapis.com/maps/api/js?key=AIzaSyACaf2FYD7v1-nOB_KlEoR9ngJIg6xIbvQ')
                            
                        .then(function(response){
                
                                var uluru = {lat: coords[0], lng: coords[1]}; // create variable to handle co ords
                                var map = new google.maps.Map(document.getElementById('map'), { // update map DIV
                                center: uluru, // center on coords 
                                scrollwheel: false, //disable mouse scroll wheel 
                                zoom: 6  // zoom factor is set 
                                });
         
                                var marker = new google.maps.Marker({ //add marker at co ords 
                                position: uluru, 
                                map: map
                                });
                
                        });     // close google maps success promise 
            
                }    // close makeTheMap function        
                   
   } // close main function 
   
  // http callback function //
   
  $scope.getit = function (method,url, requestLocation) { // method is either JSONP or get , urls are declared above , location is selected in the view
       
                            return  $http({
         
                            method: method,
                            url:url
         
                            })  // close http request 
      
  } // close getit function
   
}); // close controller 
    
</script>

</body>
</html>
